.details-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.details-left,
.details-right {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--menu-bg-color);
  width: 100%;
}

.details-left p {
  display: inline;
  width: 170px;
}

.details-list,
.amenities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.details-list li,
.amenities-list li {
  display: inline-flex;
  align-items: center;
  width: 170px;
}
.amenities {
  color: var(--link-color);
}
@media (min-width: 768px) {
  .details-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .details-left,
  .details-right {
    width: 48%;
  }
}
