/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
}

.modal-content {
  background: var(--menu-bg-color);
  padding: 24px 16px 12px 16px;
  border-radius: 8px;
  position: relative;
  justify-content: center;
  max-width: 276px;
  width: 90%;
}

.modal-close {
  position: absolute;
  top: -2px;
  right: 4px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
