.image-carousel {
  position: relative;
  width: 300px; /* Set the width of the carousel */
  height: 200px; /* Set the height of the carousel */
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.info div {
  background-color: var(--overlay-cards);
  color: var(--overlay-cards-text);
  font-weight: 700;
  /* margin-bottom: 5px; */
  padding: 4px 8px 2px 8px;
  border-radius: 12px;
}
.info .flag {
  background-color: transparent;
}

.mobile-stepper {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
}
