.venue-image-container {
  position: relative;
  width: 250px; /* Adjust as needed */
  height: 350px; /* Fixed height */
}

.venue-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the area without stretching */
}

.card-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  /* padding: 10px; */
  /* background-color: rgba(0, 0, 0, 0.5);
  color: white; */
}

/* .navigation-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
}

.navigation-arrow.left {
  left: 10px;
}

.navigation-arrow.right {
  right: 10px;
} */
