.venue-image-container {
  position: relative;
  width: 250px;
  height: 350px;
}

.venue-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.venue-card-button {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.venue-card-button:hover {
  background-color: var(--button-bg-color-hover);
  color: var(--button-text-color-hover);
  outline: var(--border-color) solid 1px;
  transform: scale(1.1);

}

