@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Global variables */
  :root {
    --overlay-color-light: #e0f2fecc; /* Lighter overlay for light theme */
    --overlay-color-carousel-light: #e0f2fe99; /* Lighter overlay for light theme */
    --overlay-color-dark: #384252cc; /* Darker overlay for dark theme */
    --overlay-color-carousel-dark: #38425299; /* Darker overlay for dark theme */

    /* Tailwind colors */
    --white: #ffffff;
    --black: #000000;
    --red-500: #ef4444;
    --red-700: #b91c1c;
    --orange-200: #fed7aa;
    --green-200: #bbf7d0;
    --green-800: #166534;
    --yellow-200: #fef08a;
    --yellow-400: #facc15;
    --yellow-500: #eab308;
    --sky-50: #f0f9ff;
    --sky-100: #e0f2fe;
    --sky-200: #bae6fd;
    --sky-300: #7dd3fc;
    --sky-500: #0ea5e9;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-800: #1e40af;
    --blue-900: #1e3a8a;
    --stone-400: #a8a29e;
    --stone-600: #57534e;
    --gray-100: #f3f4f6;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;
  }

  /* Global reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

  [data-theme="light"] {
    --overlay-color: var(--overlay-color-light);
    --overlay-color-carousel: var(--overlay-color-carousel-light);
    --overlay-cards: var(--sky-200);
    --overlay-cards-text: var(--blue-800);
    --body-bg-color: var(--sky-50);
    --body-text-color: var(--gray-900);
    --header-bg-color: var(--sky-100);
    --footer-bg-color: var(--sky-100);
    --border-color: var(--sky-300);
    --border-color-cards: var(--blue-300);
    --button-bg-color: var(--sky-300);
    --button-bg-color-cancel: var(--red-700);
    --button-bg-color-hover: var(--sky-100);
    --button-bg-color-hover-cancel: var(--red-500);
    --button-text-color: var(--gray-900);
    --button-text-color-cancel: var(--gray-100);
    --button-text-color-hover: var(--gray-900);
    --button-text-color-hover-cancel: var(--black);
    --link-color: var(--blue-500);
    --link-color-hover: var(--blue-800);
    --link-color-carousel-hover: var(--blue-500);
    --input-text-color: var(--gray-500);
    --input-border-color: var(--gray-400);
    --input-border-color-focus: var(--blue-500);
    --username-color: var(--blue-800);
    --about-title-shadow-color: var(--blue-800);
    --about-title-color: var(--sky-300);
    --profile-text-color: var(--stone-600);
    --profile-text-color-inverted: var(--stone-400);
    --menu-hover-bg-color: var(--sky-200);
    --menu-bg-color: var(--sky-100);
    --cards-sections-bg-color: var(--sky-200);
  }

  [data-theme="dark"] {
    --overlay-color: var(--overlay-color-dark);
    --overlay-color-carousel: var(--overlay-color-carousel-dark);
    --overlay-cards: var(--stone-600);
    --overlay-cards-text: var(--gray-300);
    --body-bg-color: var(--gray-800);
    --body-text-color: var(--gray-100);
    --header-bg-color: var(--gray-900);
    --footer-bg-color: var(--gray-900);
    --border-color: var(--yellow-400);
    --border-color-cards: var(--stone-400);
    --button-bg-color: var(--yellow-400);
    --button-bg-color-cancel: var(--red-700);
    --button-bg-color-hover: var(--gray-800);
    --button-bg-color-hover-cancel: var(--red-500);
    --button-text-color: var(--gray-900);
    --button-text-color-cancel: var(--gray-100);
    --button-text-color-hover: var(--yellow-400);
    /* --button-text-color-hover-cancel: var(--gray-900); */
    --link-color: var(--yellow-400);
    --link-color-hover: var(--yellow-500);
    --link-color-carousel-hover: var(--gray-800);
    --input-text-color: var(--gray-300);
    --input-border-color: var(--gray-700);
    --input-border-color-focus: var(--blue-400);
    --username-color: var(--gray-400);
    --about-title-shadow-color: var(--gray-800);
    --about-title-color: var(--yellow-400);
    --profile-text-color: var(--stone-400);
    --profile-text-color-inverted: var(--stone-600);
    --menu-hover-bg-color: var(--yellow-200);
    --menu-bg-color: var(--gray-900);
    --cards-sections-bg-color: var(--gray-800);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--body-text-color) !important;
    background-color: var(--body-bg-color) !important;
    padding-top: 10.5rem;
    overflow: auto;
    scroll-behavior: smooth;
  }

  #root,
  .App {
    /* Assuming your root or top-level React component has class 'App' */
    display: flex;
    flex-direction: column;
    flex: 1; /* Allows this element to expand and contract as needed */
  }

  main {
    flex-grow: 1; /* Ensures that the main content area can expand to fill available space pushing the footer down */
  }

  header {
    background-color: var(--header-bg-color);
    border-bottom: 1px solid var(--border-color);
  }

  footer {
    background-color: var(--footer-bg-color);
    border-top: 1px solid var(--border-color);
  }

  .content {
    flex: 1;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--button-bg-color)  var(--button-bg-color-hover);
    border-radius: 15px 0 0 15px;
}

/* For browsers that support WebKit (e.g., Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--button-bg-color);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--button-bg-color-hover);
    border-radius: 1rem;
    border: 1px solid var(--button-bg-color);
}
/* Default light mode */
/* html, body {
    scrollbar-width: thin;
    scrollbar-color: var(--sky-300) var(--sky-100);
    border-radius: 4px;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--sky-100) !important;
    border-radius: 4px;
    border: 1px solid var(--sky-300) !important;
}

html::-webkit-scrollbar-track {
    background: var(--sky-300) !important;
}


html[data-theme="dark"], body[data-theme="dark"] {
    scrollbar-width: thin;
    scrollbar-color: var(--yellow-200) var(--gray-800) !important;
}

html[data-theme="dark"]::-webkit-scrollbar-thumb {
    background-color: var(--yellow-200) !important;
}

html[data-theme="dark"]::-webkit-scrollbar-track {
    background-color: var(--gray-800) !important;
} */


}
