/* index.css */
.gallery-container {
  position: relative;
}

.dropdown-container {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10; /* Ensure the dropdown is above other elements */
}

.fade-effect {
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  opacity: 0; /* Start hidden */
  transition: opacity 0.5s ease-in-out;
  @media (max-width: 468px) {
    height: 200px;
  }
}

.visible {
  opacity: 1; /* Fully visible */
}

.hidden1 {
  opacity: 0;
}
