/* MyVenues.css */
.venue-container {
  position: relative;
  cursor: pointer;
  height: 175px; /* Fixed height */
  width: 280px; /* Fixed width */
  border-radius: 20px; /* Uniform rounding */
}

.venue-image {
  object-fit: cover; /* Ensures the image covers the defined space */
  width: 100%;
  height: 100%; /* Make it fill the container's size */
  border-radius: 20px; /* Uniform rounding */
  transition: all 0.3s ease; /* Ensure transition applies to both properties */
}
.venue-image:hover {
  scale: 1.1;
}
.city-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: var(--overlay-cards);
  color: var(--overlay-cards-text);
  text-align: center;
  padding: "5px 0"; /* Spacing for the overlay text */
}

.id-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--overlay-cards);
  color: var(--overlay-cards-text) !important;
  text-align: center;
  padding: "5px 0"; /* Spacing for the overlay text */
}

body {
  overflow-y: scroll !important;
}

.my-venues-container {
  h4 {
    font-size: calc(1.1vw + 1rem) !important;

    font-weight: 700;
  }

  h5 {
    font-size: calc(1vw + 0.8rem) !important;
    font-weight: 700;
  }

  p {
    font-size: calc(0.8vw + 0.6rem) !important;
  }
}
